.sign-in {
    width: 90%;
    padding-left: 5%;
    border-bottom: 0.5px solid rgba(25, 72, 102, 0.5);
}

.sign-in-form {
    width: 20%;
    height: 66%;
    position: absolute;
    left: 40%;
    padding-bottom: 100px;
    box-shadow: 0px 1px 24px rgba(61, 61, 61, 0.18);
    border-radius: 20px;
    margin-top: 10px;
}

.sign-in-form-header {
    width: 90%;
    height: 70px;
    margin-left: 6%;
    margin-top: 3%;
    margin-bottom: 8%;
    border-bottom: 0.5px solid rgba(25, 72, 102, 0.5);
}

.sign-in-form-header h1 {
    font-family: 'Assistant';
    text-transform: capitalize;
    font-family: 'Assistant';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    color: #194866;
}

.sign-in-form-header p {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #194866;
}


.sign-in mat-form-field {
    width: 90%;
    margin-left: 6%;
}

.forgot-password {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-decoration-line: underline;
    color: #194866;
    float: right;
    margin-right: 7%;
}

.sign-in button {
    width: 90%;
    margin-top: 8%;
    margin-left: 6%;
    margin-bottom: 7%;
    background: #34C88A;
    color: #fff;
}

.successful-recovery-pass {
    width: 100%;
}

.successful-recovery-pass mat-icon{
    font-size: 70px;
    height: 70px;
    width: 70px;
    color: #34C88A;
    margin-left: 40%;
    margin-top: 5%;
}

.successful-recovery-pass p {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #34C88A;
}

.choosing-role {
    width: 100%;
    position: absolute;
    bottom: 3%;
}

.choosing-role p {
    text-align: center;
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #194866;
}


.choosing-role button {
    width: 45%;
    height: 35px;
    background: #F8F8F8;
    font-size: 12px;
    border: 0.5px solid rgba(25, 72, 102, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(25, 72, 102, 0.16);
    border-radius: 10px;
    margin-left: 3%;
}

@media (max-width: 900px) {
    .sign-in {
        width: 100%;
        padding-left: 0;
    }

    .sign-in-form {
        width: 100%;
        height: 90%;
        left: 0;
        padding-bottom: 0;
        border-radius: 0;
        margin-top: 0;
    }

    .sign-in-form-header h1 {
        font-size: 20px;
    }

    .sign-in-form-header p {
        font-size: 12px;
    }

    .forgot-password {
        font-size: 13px;
        text-align: center;
    }

    .choosing-role {
        bottom: 2%;
    }

    .choosing-role p {
        font-size: 12px;
    }

    .choosing-role button {
        width: 90%;
        margin: 0 0 7% 4%;
    }
}

