<div class="recover-pass">
    <div class="recover-pass-form">
        <div class="recover-pass-header">
            <h1>{{'recover-pass.title.h1' | translate }}</h1>
            <p>{{'recover-pass.title.p' | translate }}</p>
        </div>

        <form [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>{{'donor_reg.email' | translate }}</mat-label>
                <input matInput name="email" placeholder="{{'donor_reg.email' | translate }}" formControlName="email"
                    required>
            </mat-form-field>
        </form>

        <button mat-raised-button routerLink="/forgot-pass-conf">{{'recover-pass.send' | translate }}</button>

    </div>
</div>