.recover-pass-form {
    width: 20%;
    height: 66%;
    position: absolute;
    left: 40%;
    padding-bottom: 100px;
    box-shadow: 0px 1px 24px rgba(61, 61, 61, 0.18);
    border-radius: 20px;
    margin-top: 10px;
}

.recover-pass-header {
    width: 90%;
    height: 120px;
    margin-left: 6%;
    margin-top: 3%;
    border-bottom: 0.5px solid rgba(25, 72, 102, 0.5);
}

.recover-pass-header h1 {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #194866;
}

.recover-pass-header p {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #194866;
}

mat-form-field {
    width: 90%;
    margin-left: 6%;
    font-size: 10px;
}

.done {
    width: 88%;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 6%;
    background: #34C88A;
}

.back {
    position: absolute;
    bottom: 10px;
    right: 6%;
    width: 88%;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 6%;
    background: #F8F8F8;
    color: #194866;
}

a {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    text-decoration-line: underline;
    color: #34C88A;
    float: right;
    margin-right: 6%;
    margin-bottom: 5%;
}

@media (max-width: 991.98px) {

    .recover-pass {
        width: 100%;
        padding-left: 0;
    }

    .recover-pass-form {
        width: 100%;
        height: 90%;
        left: 0;
        padding-bottom: 0;
        border-radius: 0;
        margin-top: 0;
    }

    .recover-pass-header {
        height: 200px;
    }

    .recover-pass-header h1 {
        font-size: 20px;
    }

    .recover-pass-header p {
        font-size: 12px;
    }
}