<div class="verify-account">
    <div class="verify-account-form">
        <div class="verify-account-header">
            <h1>{{'verify-account.title.h1' | translate }}</h1>
            <p>{{'verify-account.title.p' | translate }}</p>
        </div>

        <form>
            <mat-form-field appearance="fill">
                <mat-label>{{'verify-account.code' | translate }}</mat-label>
                <input matInput name="code" placeholder="{{'verify-account.code' | translate }}" required>
            </mat-form-field>
        </form>

        <button mat-raised-button>{{'verify-account.ok' | translate }}</button>
    </div>
</div>